.background{
    background-image: url("../files/World-Map-white-2048x1171.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


div.main-panel{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(230, 228, 228, 0.8);
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    transform: translateY(100%);
    height: fit-content;
    width: fit-content;
    padding: 30px;
}