.background{
    background-image: url("../files/images/Analysis.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100vw;
}


div.main-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(to left, rgba(221, 219, 219, 0.7) 30%, rgba(255, 254, 254, 0.7) 50%);
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    box-shadow: 10px 30px 40px black ;
}